body{
    font-family: 'Roboto', sans-serif;
}

.logo{
    margin: 20px;
}

.topo{
    padding: 80px 0 0 0;
    height: 340px;
    background-color: #15171a;
    background-image: url(../img/bg-topo.png);
}

.content{
    min-height: 340px;
    background-color: #15171a;
}

.topo-message{
    min-height: 100px;
    background-color: #384559;
}

.search-text{
    min-height: 134px;
    border-top: 7px solid #47556a;
    border-bottom: 7px solid #47556a;
    background-color: #1f2734;
    padding-bottom: 30px;
}

.format-text{
    padding: 40px 0 0 0;
}

/* -- FONTE -- */

.h1-message{ 
    font-weight: 300;
    color: white;
    padding: 35px;
    font-style: italic;
}

.h2-message{ 
    font-weight: 300;
    color: #5a687d;
    padding: 35px;
    font-style: italic;
}

.h3-message{ 
    font-weight: 300;
    color: #5a687d;
    font-style: italic;
    margin: 30px 0 -25px 0;
}

.h1-header{ 
    font-weight: 300;
    color: #697a92;
    padding: 35px;
}

.button1 {
    height:40px;
    background: #fa971e;
}

.button2 {
    height:40px;
    background: #a10000;
}

.button-upload {
    height:40px;
    background: #fff;
}

.webcam{
    height: 320px;
    background-color: white;
    margin: 20px auto;
}

.border-input-text{
    border: 1px solid #49505a;
}

.input-search{
    background-color: #fa971e;
    background-image: url(../img/bg-button01.png);
    border: 0;
    outline: 0;
    color: white;
}

.input-capture{
    background-color: #fa971e;
    background-image: url(../img/bg-button02.png);
    border: 0;
    outline: 0;
    color: white;
}

.equip{
    min-height: 340px;
    background-color: #15171a;
    padding-bottom: 50px;
}

.busca-campo{
    width:50%;
}

.img-quem{
    margin: 10px;
}

.rodape{
    min-height: 40px;
    width: 100%;
    background-color: #000;
}

.text-rodape{
    color: #697a92;
    margin: 10px 0 0 0;
    font-weight: 300;
}

.botao-margin-2{
    margin-top: 10px;
    border: 3px solid #1F2734;
}

.botao-margin-1{
    margin-top: 10px;
    border: 3px solid #15171A;
}

video { 
    border: 1px solid #ccc; 
    display: block; 
    margin: 0 0 20px 0; 
}
#canvas { 
    margin-top: 20px; 
    border: 1px solid #ccc; 
    display: block; 
}

/*  ------  */

.gsc-search-box{
    margin: 30px 0 0 0 !important;
}

.gsc-input-box {
    height: 30px !important;
}

.gsc-search-button, .gsc-search-button-v2{
    height: 30px !important;
}

.gsc-control-cse-en{
    background-color: #1F2734 !important;
    border: none !important;
    margin: 30px 0 0 0 !important;
}

.gsc-webResult{
    outline: 10px solid #fff !important;
}

.gsc-cursor-box{
    background-color: #fff !important;
    margin: 13px 0 0 0 !important;
    outline: 3px solid #fff !important;
}

.gcsc-branding{
    display: none !important;
}

.gsc-above-wrapper-area{
    display: none !important;
}

.gsc-input{
    background: none !important;
}

.gsc-search-button-v2{
    width: auto !important;
    background-color: #fa971e !important;
    background-image: url(../img/bg-button01.png) !important;
    border: 0 !important;
    outline: 0 !important;
    color: white !important;
}

.gscb_a{
    margin: 7px 0 0 0 !important;
    color: #F98715 !important; 
}
<<<<<<< HEAD
=======

logo-margin{
    margin: 0 10px 0 10px;
}
>>>>>>> origin/master
